<a href="#0" class="cd-top">Top</a>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <ul class="footer-nav">
          <li class="footer-privacy"><a href="/privacypolicy">Privacy Policy</a></li>
          <li class="footer-terms"><a href="/termsofuse">Terms of use</a></li>
          <li class="footer-affiliate"><a href="/affiliate">Affiliate Agreement</a></li>

        </ul>
      </div>
      <div class="col-md-3">
        <img src="assets/images/footer/visa.png"><img src="assets/images/footer/mastercard.png">
      </div>
    </div>
  </div>
</footer>