<header>
    <section class="hero">
        <div class="container">
            <div class="row d-flex align-items-center mb-5">
                <div class="col-6 col-lg-6 text-left">
                    <a href="/" class="brand">
                        <img src="assets/images/logo.webp" class="logo w-100 w-lg-auto">
                    </a>
                </div>
                <div class="col-6 col-lg-6 d-flex justify-content-end">
                        <div class="dropdown">
                            <a class="btn dropdown-toggle text-uppercase"
                               href="#"
                               role="button" id="dropdownMenuLink"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <span>Menu</span>
                                <span><i class="fa-solid fa-bars"></i></span>
                            </a>

                            <ul class="dropdown-menu"
                                aria-labelledby="dropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="/">
                                        <span class="me-2 icon"><i class="fa-solid fa-house"></i></span>
                                        <span>Start page</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <span class="me-2 icon"><i class="fa-solid fa-circle-info"></i></span>
                                        <span>How it works</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/contacts">
                                        <span class="me-2 icon">
                                            <i class="fa-solid fa-address-book"></i>
                                        </span>
                                        <span>Contacts</span>
                                    </a>
                                </li>
                            </ul>
                        </div>


                </div>
            </div>

            <div class="row hero-content align-items-end">
                <div class="col-md-7 col-xs-12">
                    <h1 class="main_intro mb-5">Cloud video surveillance</h1>

                    <div class="mb-5">
                        <div class="mobile_store mr">
                            <a href="/" target="_blank">
                                <img src="assets/images/apple-tv.svg" alt="Download on the App Store">
                            </a>
                        </div>
                        <div class="mobile_store">
                            <button disabled>
                                <img src="assets/images/Google_Play_Store_badge_EN.svg" alt="Get it on Google Play">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 hidden-sm hidden-xs header_img">
                              <img src="assets/images/header_cameras.png" alt="" class="header_cameras">
                </div>
            </div>
        </div>
    </section>
</header>